:host {
  --code-font: consolas, "Menlo", "Monaco", "Courier New", monospace;
  --code-font-size: 1em;
  --code-line-height: 125%;
}
.snippet-container {
  position: relative;
  border: 1px solid var(--border-color);
}
.snippet-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  user-select: none;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.snippet-content {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: 1em;
  background-color: var(--code-bg-color);
  overflow-x: auto;
}
.line-numbers {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  padding: 0 5px;
  color: var(--text-color);
  background-color: var(--content-bg-color);
  border-right: 1px solid;
  user-select: none;
}
::slotted(pre),
pre {
  margin: 0;
  padding: 0 5px !important;
  color: var(--code-color);
  font-family: var(--code-font);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
}
#result {
  padding: 5px;
}
.text {
  color: var(--text-color);
  font-family: var(--code-font);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
}
.comment,
.comment .keyword {
  color: var(--code-comment-color);
  font-style: italic;
}
.keyword {
  color: var(--code-kw-color);
}
.operator {
  color: red;
}
button {
  margin-left: 5px;
  cursor: pointer;
}
label,
input[type="checkbox"] {
  font-size: 0.8em;
  cursor: pointer;
}
