:host {
  width: 100%;
  --title-font: "Lucida Bright", "Palatino Linotype", "Book Antiqua", Palatino,
    "Times New Roman", Times, Georgia, serif;
}
#article {
  padding: 10px 20px;
  /* border: 1px solid; */
  border-bottom: 1px solid;
}
#article a {
  color: #000;
  text-decoration: none;
}
#article a:hover {
  text-decoration: underline;
}
h4,
h6 {
  margin: 0;
  font-family: var(--title-font);
}
h4 {
  font-size: 1.5em;
}
h6 {
  color: grey;
  font-size: 1em;
}

@media (max-width: 768px) {
  h4 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 0.875em;
  }
}
