:host {
  width: 100%;
  font-family: var(--font-main, sans-serif);
  background-color: var(--bg-color);
  border-top: 1px solid var(--content-bg-color);
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 10px;
  list-style: none;
}
a {
  padding: 4px 8px;
  color: var(--text-color);
  font-family: consolas, "Menlo", "Monaco", "Courier New", monospace;
  text-decoration: none;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}
a:hover,
a:focus {
  color: #ff6600;
  text-decoration: none;
  background-color: #f2f2f2;
}
a:visited {
  color: var(--visited-link-color);
}
