main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  max-width: 840px;
  border: 1px solid;
}
article h2 {
  text-align: center;
}
section{
  width: 100%;
}
section p {
  line-height: 175%;
}
section ul,
section ol {
  padding: 0 1em;
}
section ul > li,
section ol > li {
  margin-top: 10px;
}
blockquote {
  margin: 0;
}
blockquote p {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}
