/* TODO: components can access variables */
:root {
  --main-font: "Lucida Bright", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --code-font: consolas, "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section {
  margin: 10px auto;
  /* border: 1px solid red; */
}

main {
  flex: 1;
  position: relative;
}

berry-disclaimer > p {
  margin-top: 1em;
}

code {
  padding: 2px 0;
  font-family: var(--code-font);
}

hr {
  margin: 20px 0;
}

/* Simple, tailwind-free util classes */

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
