* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  position: relative;
}

berry-disclaimer > p {
  margin-top: 1em;
}

a {
  color: #3366cc;
  background-color: #f2f2f2;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

a:hover,
a:focus {
  color: #ff6600;
  text-decoration: underline;
  background-color: #ffffff;
}

a:visited {
  color: #7744aa;
}

code{
  font-family: consolas;
}
