body {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section#intro {
  max-width: 800px;
  color: var(--text-color);
}
section#article-list {
  max-width: 64vw;
  min-width: 300px;
}
section#article-list h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}
