body {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p {
  color: var(--text-color);
}
main {
  width: 100%;
  overflow-x: hidden;
}
section {
  max-width: 800px;
}
section#banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section#intro {
  color: var(--text-color);
}
section.title-list {
  min-width: 300px;
}
section.title-list h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}
